div {
    border: solid thin;
    padding: 1px;
}

a:link, a:visited {
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    color: aquamarine;
}

.list {
    height: 50%;
    float: left;
    text-align: left;
    overflow: scroll;
    width: 30%;
    margin: 10px;
    background-color: aquamarine;
    padding: 0.4%;
}

#mainMenu {
    top: 9%;
    height: 4%;
    margin: 0.4%;
}

#lists {
    top: 15%;
    height: 92%;
    margin: 0.4%;
}

#header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 6%;
    padding: 0.4%;
    background-color: #efefef;
    text-align: center;
    overflow: hidden;
}

#content {
    position: absolute;
    top: 8%;
    bottom: 6%;
    left: 5%;
    width: 90%;
    padding: 2px;
    overflow: scroll;
}

#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 4%;
    padding: 0.4%;
    background-color: #efefef;
    text-align: center;
    overflow: hidden;
}

#logoButton {
    float: left;
    margin: 2px;
    padding: 2px;
    background-color: black;
    text-decoration-color: azure;
}

.floatLeft {
    float: left;
    margin: 2px;
    padding: 2px;
}

.floatRight {
    float: right;
    margin: 2px;
    padding: 2px;
}

.floatNone {
    margin: 2px;
    padding: 2px;
}
